{:config
 {:app
  {:middleware
   {:functions {:stacktrace #var ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :webjars :ring-defaults :stacktrace]}}
  :http
  {:port 3000}
  :db
  {:uri "jdbc:postgresql://localhost/gt1gv1"}}}
